/* Coolors Exported Palette - coolors.co/dee5e5-8ab0ab-3e505b-157a6e-64e9ee */

/* HSL */
$color1: hsla(180%, 12%, 88%, 1);
$color2: hsla(172%, 19%, 62%, 1);
$color3: hsla(203%, 19%, 30%, 1);
$color4: hsla(173%, 71%, 28%, 1);
$color5: hsla(182%, 80%, 66%, 1);

/* RGB */
$color1: rgba(222, 229, 229, 1);
$button-background: rgba(138, 176, 171, 1);
$color3: rgba(62, 80, 91, 1);
$color4: rgba(21, 122, 110, 1);
$color5: rgba(100, 233, 238, 1);
