* {
  border: 1px solid pink;
}

.container {
  clear:both;
}

body {
  text-align: center;
}

table {
  margin:auto;
}

.youDidItCongrats {
  opacity: 0.3;
}

h2 {
  display: inline-block;
}

.delete-btn, .member-btn {
  display: inline-block !important;
  margin: 1em 1em;
}

.two-cols {
  display: flex;
  widht: 70%;
}

 .actions {
  width: 25%;

}
 .rollcall {
    width: 20%;
    display: inline-block;
}

.col-fix {
  display: flex;
  justify-content: space-around;
}

.groups {
  display: flex;
  width: 60%;
  justify-content: space-around;
  flex-flow: row wrap;
  flex-basis: 30%;
  align-items: center;
}
