@import "color_palette";
@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Montserrat');
@import "normalize";
@import "skeleton";


$montserrat: 'Montserrat', sans-serif;
$bubbler-one: 'Bubbler One', sans-serif;

@import "whiteboard";


* {
  border: 1px solid ghostwhite;

}

h1, h2, h3 {
    font-family: $montserrat;
}

body {
  font-family: $bubbler-one;
  color: $font-color;
}
.container {
  clear:both;

}

body {
  text-align: center;
}

table {
  margin:auto;
}

.youDidItCongrats {
  opacity: 0.3;
}

h2 {
  display: inline-block;
}

.delete-btn, .member-btn, .btn, button {
  display: inline-block !important;
  background-color: $button-background !important;
  margin: 1em 1em;
}

.two-cols {
  display: flex;
  widht: 90%;
}

 .actions {
  width: 25%;

}
 .rollcall {
    width: 20%;
    display: inline-block;
}

.col-fix {
  display: flex;
  justify-content: space-around;
}

.groups {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  flex-basis: 60%;
  align-items: center;
  margin-right: .1em;
}

.not-participating {
  opacity: .3;
  text-decoration: line-through;
}

.group-div {
  padding: .2em 1em;
}

.swappable:hover, .selected {
  background-color: $hover;
}

.selected {
  background-color: lighten($hover, 20%);
}

li {
  margin: .02em !important;
}
.custom-input {
  padding: .2em;
  width: 2.5em;
}
