body {
  text-align: center;
}

table {
  margin:auto;
}

.youDidItCongrats {
  opacity: 0.3;
}

h2 {
  display: inline-block;
}

.delete-btn, .member-btn {
  display: inline-block !important;
  margin: 1em 1em;
}

.two-cols {
  display: flex;
  widht: 70%;
}

.rollcall, .actions {
  width: 48%;
}
